---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + Tailwind</title>
	</head>
	<body class="">
		<h1 class="text-6xl text-neutral-800">Astro + Tailwind</h1>
		<p>testing out tailwind</p>
		<h3>Testing</h3>
  
	</body>
</html>
