---
// import "../styles/tailwind.css"
import "../styles/test.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + Tailwind</title>
	</head>
	<body class="center mbs-l">
		<h1 class="text-6xl text-neutral-800 bg-light-blue-10">Astro + Tailwind</h1>
		<p>testing out tailwind</p>
		<a href="/two">go to two</a>
		<h3>Testing</h3>
		<artiicle class="stack">
		<h3 class="text-3">Testing out Layout Styles</h3>
		<li class="box bg-light-red-9">A</li>
		<li class="box bg-light-red-9">B</li>
		<li class="box bg-light-red-9">C</li>
		<li class="box bg-light-red-9">D</li>
		<li class="box bg-light-red-9">E</li>
		<li class="box bg-light-red-9">F</li>
		</artiicle>
  
	</body>
</html>
